In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from sklearn import impute

### Imputation Example

In [2]:
df = pd.read_csv("sc.csv")
df

,L_LatVent,R_LatVent,L_thal,R_thal,L_caud,R_caud,L_put,R_put,L_pal,R_pal,L_hippo,R_hippo,L_amyg,R_amyg,L_accumb,R_accumb
0,4055.0,3254.0,7936.0,8491.0,3857.0,3763.0,5186.0,5064.0,2267.0,2246.0,3066.0,4693.0,1239.0,1505.0,696.0,388.0
1,3655.0,4525.0,7829.0,7568.0,3301.0,3694.0,4942.0,5403.0,1627.0,1920.0,3927.0,3844.0,1442.0,1409.0,492.0,593.0
2,4885.0,3312.0,7567.0,7578.0,3467.0,3494.0,5282.0,5255.0,1769.0,1670.0,4657.0,4582.0,1596.0,1595.0,466.0,526.0
3,6065.0,6765.0,7823.0,8228.0,4218.0,4092.0,5473.0,5562.0,1876.0,1450.0,4909.0,4497.0,1550.0,1460.0,486.0,604.0
4,6941.0,7537.0,8022.0,8030.0,3892.0,3789.0,5220.0,5510.0,1663.0,1655.0,4551.0,4606.0,1554.0,1594.0,581.0,707.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2771,10499.7,7363.3,8069.6,7574.9,4269.1,4268.1,6441.3,5987.3,1861.5,1827.8,4965.7,5700.3,1827.8,2397.7,634.3,666.3
2772,2357.8,1430.6,7821.7,6646.9,2790.2,2284.7,5696.3,6092.9,1497.9,1178.4,4237.4,4346.6,1654.3,1957.0,525.4,502.6
2773,13794.6,13323.6,6638.0,5879.1,3192.3,3591.4,6270.3,5116.5,1420.4,1350.7,4812.0,4401.0,1787.4,1622.9,724.9,590.2
2774,5993.0,5059.9,8356.7,6633.6,2955.4,3099.4,5500.4,5769.0,1418.3,1151.8,5136.0,5055.7,1554.1,1768.2,603.5,537.4
2775,6247.3,5794.7,6639.9,5936.5,3876.1,3949.9,6138.2,5734.1,1277.2,1273.1,3781.4,3387.0,1803.9,1865.3,652.9,684.7

In [3]:
df.isnull().sum()

L_LatVent     16
R_LatVent     15
L_thal        72
R_thal        14
L_caud        13
R_caud        10
L_put         86
R_put         40
L_pal        144
R_pal         23
L_hippo       16
R_hippo       11
L_amyg        29
R_amyg        67
L_accumb      17
R_accumb      12
dtype: int64

In [4]:
df[df["L_LatVent"].isnull()]["L_LatVent"]

31     NaN
53     NaN
148    NaN
202    NaN
249    NaN
262    NaN
293    NaN
568    NaN
775    NaN
815    NaN
1450   NaN
1461   NaN
1533   NaN
1537   NaN
1547   NaN
1683   NaN
Name: L_LatVent, dtype: float64

In [5]:
df["L_LatVent"].fillna(df["L_LatVent"].mean(), inplace = True)
df.isnull().sum()

L_LatVent      0
R_LatVent     15
L_thal        72
R_thal        14
L_caud        13
R_caud        10
L_put         86
R_put         40
L_pal        144
R_pal         23
L_hippo       16
R_hippo       11
L_amyg        29
R_amyg        67
L_accumb      17
R_accumb      12
dtype: int64

In [3]:
model = impute.SimpleImputer(missing_values=np.nan, strategy="mean")

imp_df = pd.DataFrame( model.fit_transform( df ) )
imp_df.columns = df.columns
#imp_df.index = df.index
imp_df.isnull().sum()

L_LatVent    0
R_LatVent    0
L_thal       0
R_thal       0
L_caud       0
R_caud       0
L_put        0
R_put        0
L_pal        0
R_pal        0
L_hippo      0
R_hippo      0
L_amyg       0
R_amyg       0
L_accumb     0
R_accumb     0
dtype: int64